# Temp files
.DS_Store
*~
buck-out/
temp/

# Compiled files
.venv
.venv/
uv.lock
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
tests/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# log
debug.log
pypath_log/

# local
/tutorial_files/
/source_files/
Rscripts/
SeuratVSscanpy/
optimization/log
optimization/output
optimization/tutorial_files
optimization/check_results
optimization/run_optimization*.pbs
src/nichenetpy.egg-info/
.RData
.Rhistory