__pycache__
.RData
.Rhistory
src/nichenetpy.egg-info/*
notebooks/tutorial_files/*
tests/data/tutorial_files/*
scripts/*
SeuratVSscanpy/*
temp/*
docs/*
tests/data/TGFB1/*
optimization/log
optimization/output
optimization/tutorial_files
optimization/check_results